<a href="https://colab.research.google.com/github/sanjana26489/sanjana...2907/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x = 10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a = 5
b = 10
c = 15
sum = a+b+c
print(sum)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
variable = 10
print("The type of the variable is:",type(variable))

The type of the variable is: <class 'int'>

In [ ]:
variable = "kavya"
print("The type of the variable is:",type(variable))

The type of the variable is: <class 'str'>

In [ ]:
variable = 10.5
print("The type of the variable is:",type(variable))

The type of the variable is: <class 'float'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a = 10
b = 20
print("Addition:",a+b)
print("Subtraction:",a-b)
print("Multiplication:",a*b)
print("Division:",a/b)

Addition: 30
Subtraction: -10
Multiplication: 200
Division: 0.5

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
a = "123"
print("String to integer:",int(a))
print("String to float:",float(a))

String to integer: 123
String to float: 123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
a = "kavya"
print("The first character of the string is:",a[0])

The first character of the string is: k

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
a = "kavya"
print("The length of the string is:",len(a))

The length of the string is: 5

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
input_string = input("Enter a string: ")
if input_string.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string does not contain only alphabets.")

Enter a string: Harini
The string contains only alphabets.

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
a = "kavya"
b = "sree"
print("The concatenated string is:",a+b)

The concatenated string is: kavyasree

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
intput_string = input ("Enter a string: ")
substring = "abc"
index = intput_string.find(substring)
if index !=-1:
  print("The substring '{substring}' not found in the input string:")

Enter a string: abc123
The substring '{substring}' not found in the input string:

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
input_string =input("Enter a string:")
uppercase_string = input_string.upper()
lowercase_string = input_string.lower()
print(f"Original String: {input_string}")
print(f"Uppercase String: {uppercase_string}")
print(f"Lowercase String: {lowercase_string}")

Enter a string:hari
Original String: hari
Uppercase String: HARI
Lowercase String: hari

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
input_string = input("Enter a string: ")
character = input("Enter a character: ")
count = input_string.count(character)
print(f"The character '{character}' appears {count} times in the string.")

Enter a string: revii
Enter a character: R
The character 'R' appears 0 times in the string.

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name = input("Enter your name: ")
print(f"Hello, {name}! Good Morning")

Enter your name: harini
Hello, harini! Good Morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
num1 = 10
num2 = 20
sum = num1+num2
print(sum)

30

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Hello,my name is {name} and i am {age} years old.")

Enter your name: revanth
Enter your age: 23
Hello,my name is revanth and i am 23 years old.

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num = float(input("Enter a number:"))
if num > 0:
  print(f"{num} is a positive number.")
elif num < 0:
  print(f"{num} is a negative number.")
else:
  print(f"{num} is zero.")

Enter a number:8
8.0 is a positive number.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
if num1 >= num2 and num1 >= num3:
  print(f"{num1} is the maximum number.")
if num2 >= num1 and num2 >= num3:
    print(f"{num2} is the maximum number.")
else:
      print(f"{num3} is the maximum number.")

Enter the first number: 10
Enter the second number: 20
Enter the third number: 30
30.0 is the maximum number.

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
        print(f"{year} is not a leap year.")

Enter a year: 2005
2005 is not a leap year.

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
num = int(input("Enter a number: "))
if num % 3 == 0 and num % 5 == 0:
  print(f"{num} is divisible by both 3 and 5.")
else:
  print(f"{num} is not divisible by both 3 and 5.")

Enter a number: 7
7 is not divisible by both 3 and 5.

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
user_string = input("Enter a string: ")
clean_string = user_string.replace("" ,"").lower()
if clean_string == clean_string[::-1]:
  print(f"'{user_string}'is a palindrome.")
else:
  print(f"'{user_string}'is not a palindrome.")

Enter a string: hello
'hello'is not a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
i = 1
while i <= 20:
  if i % 2 == 0:
    print(i)
  i += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
num = int(input("Enter a number: "))
print(f"Multiplication table for {num}:")
for i in range(1,11):
  print(f"{num} x {i} = {num * i}")
  i += 1

Enter a number: 18
Multiplication table for 18:
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a number: "))
total_sum = 0
i=1
while i <= n:
  total_sum += i
  i += 1
print(f"sum of numbers from 1 to {n}:{total_sum}")

Enter a number: 5
sum of numbers from 1 to 5:15

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
num = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= num:
  factorial *= i
  i += 1
print(f"The factorial of {num} is {factorial}")

Enter a number: 9
The factorial of 9 is 362880

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input("Enter the number of terms: "))
a, b = 0, 1
print("Fibonacci sequence:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 2
Fibonacci sequence:
0 1

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
print("Prime numbers from 1 to 100:")
for num in range(2, 101):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")

Prime numbers from 1 to 100:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
numbers = [10, 20, 30, 40, 50, 60, 70]
for num in numbers:
  print(num)
  if num > 50:
    print("numbers greater than 50 found. Breaking out of loop.")
    break

10
20
30
40
50
60
numbers greater than 50 found. Breaking out of loop.

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for num in range(1,21):
  if num % 2 == 0:
    continue
  print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
input_string = input("Enter a string: ")
character = input("Enter a character: ")
count = 0
for char in input_string:
  if char == character:
    count += 1
print(f"The character '{character}' appears {count} times in the string.")

Enter a string: anil
Enter a character: A
The character 'A' appears 0 times in the string.

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
num = int(input("Enter a number: "))
sum_of_digits = 0
while num > 0:
  digit = num % 10
  sum_of_digits += digit
  num //= 10
print(f"The sum of digits of the number is: {sum_of_digits}")

Enter a number: 4
The sum of digits of the number is: 4

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
numbers = [1, 2, 3, 4, 5]
sum_of_elements = sum(numbers)
print("The sum of the elements is:", sum_of_elements)

The sum of the elements is: 15

In [ ]:
# Write a Python program to find the largest element in a list.
numbers = [10, 5, 20, 15, 30]
largest_element = max(numbers)
print("The largest element in the list is:", largest_element)

The largest element in the list is: 30

In [ ]:
# Write a Python program to reverse a list.
numbers = [1, 2, 3, 4, 5]
reversed_list = numbers[::-1]
print("The reversed list is:", reversed_list)

The reversed list is: [5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
numbers = [num for num in numbers if num != element_to_remove]
print

In [ ]:
# Write a Python program to find the index of an element in a list.
numbers = [10, 20, 30, 40, 50]
element_to_find = 30
index = numbers.index(element_to_find)
print("The index of the element is:", index)

The index of the element is: 2

In [ ]:
# Write a Python program to find if a specific element exists in a list.
numbers = [10, 20, 30, 40, 50]
element_to_find = 30
if element_to_find in numbers:
    print("The element exists in the list.")
else:
    print
    ("The element does not exist in the list.")

The element exists in the list.

In [ ]:
# Write a Python program to remove duplicates from a list.
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(numbers))
print("The list with duplicates removed is:", unique_list)

The list with duplicates removed is: [1, 2, 3, 4, 5]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
numbers = [1, 2, 3, 2, 4, 2, 5]
element_to_count = 2
count = numbers.count(element_to_count)
print("The element appears", count, "times in the list.")

The element appears 3 times in the list.

In [ ]:
#Write a python program to get the number of even numbers in a list.
list = [1,2,3,4,5,6,7,8,9,10]
count = 0
for i in list:
  if i % 2 == 0:
    count += 1
print(count)

5

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.
my_tuple=(10,20,30,40,50)
max_value=max(my_tuple)
min_value=max(my_tuple)
print("tuple:",my_tuple)
print("maximum value:",max_value)
print("minimum value:",min_value)

tuple: (10, 20, 30, 40, 50)
maximum value: 50
minimum value: 50

In [ ]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print("a:", a)
print("b:", b)
print("c:", c)

a: 10
b: 20
c: 30

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {1, 2, 3}
my_set.add(4)
print("Set after adding an element:", my_set)
element_to_check = 3
if element_to_check in my_set:
    print("Element exists in the set.")
else:
    print("Element does not exist in the set.")

Set after adding an element: {1, 2, 3, 4}
Element exists in the set.

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {"name": "John", "age": 25, "city": "New York"}
print("Dictionary:", my_dict)

Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
# Write a Python program to access a dictionary value using a key.
my_dict = {"name": "John", "age": 25, "city": "New York"}
key_to_access = "age"
value = my_dict[key_to_access]
print("Value associated with the key:", value)

Value associated with the key: 25

In [ ]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {"name": "John", "age": 25, "city": "New York"}
def check_key(dictionary, key):
    if key in dictionary:
      print(f"The key '{key}' exists in the dictionary.")
    else:
      print(f"The key '{key}' does not exist in the dictionary.")
key_to_check = "age"
check_key_exists(my_dict, key_to_check)
key_to_check="country"
check_key(my_dict,key_to_check)

The key 'age' exists in the dictionary.
The key 'country' does not exist in the dictionary.

In [ ]:
# Write a Python program to merge two dictionaries.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = {**dict1, **dict2}
print("Merged dictionary:", merged_dict)

Merged dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Write a Python program to remove a key from a dictionary.
my_dict = {"name": "John", "age": 25, "city": "New York"}
print("original dictionary:")
print(my_dict)
key_to_remove = "age"
if key_to_remove in my_dict:
    del my_dict[key_to_remove]
    print
    ("Dictionary after removing the key:", my_dict)
else:
    print("Key does not exist in the dictionary.")

original dictionary:
{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {"name": "John", "age": 25, "city": "New York"}
num_keys = len(my_dict)
print("Number of keys in the dictionary:", num_keys)

Number of keys in the dictionary: 3

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.
my_dict = {"a": 10, "b": 5, "c": 20, "d": 15}
largest_value = max(my_dict.values())
smallest_value = min(my_dict.values())
print
("Dictionary:", my_dict)
print("Largest value:", largest_value)
print("Smallest value:", smallest_value)

Largest value: 20
Smallest value: 5

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.
def square(number):
    return number ** 2
result = square(5)
print("The square of the number is:", result)

The square of the number is: 25

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.
def add_numbers(a, b):
    return a + b
result = add_numbers(3, 5)
print("The sum of the numbers is:", result)

The sum of the numbers is: 8

In [ ]:
# Write a Python function to check if a given number is prime.
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True
num=int(input("Enter a number:"))
if is_prime(num):
  print(f"{num} is a prime number.")
else:
  print(f"{num} is not a prime number.")

Enter a number:18
18 is not a prime number.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
        result = factorial(5)
print("The factorial of the number is:", result)

The factorial of the number is: 8

In [ ]:
# Write a Python function to calculate the power of a number using recursion.
def power(base, exponent):
    if exponent == 0:
        return 1
    elif exponent > 0:
        return base * power(base, exponent - 1)
    else:
        return
        1 / power(base, -exponent)
result = power(2, 3)
print("The result of the power calculation is:", result)

The result of the power calculation is: 8

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def list_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count
    my_list = [1, 2, 3, 4, 5]
length = list_length(my_list)
print("The length of the list is:", length)

The length of the list is: 4

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum_positional_arguments(*args):
    total = 0
    for arg in args:
        total += arg
    return total
result = sum_positional_arguments(1, 2, 3, 4, 5)
print
("The sum of positional arguments is:", result)

('The sum of positional arguments is:', 15)

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def find_maximum(a, b):
    if a >= b:
        return a
    else:
        return b
result = find_maximum(b=5, a=3)
print("The maximum of the two numbers is:", result)

The maximum of the two numbers is: 5

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.
def calculate_product(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product
my_list = [1, 2, 3, 4, 5]
product = calculate_product(my_list)
print
("The product of the numbers is:", product)

('The product of the numbers is:', 120)

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def check_even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"
num = int(input("Enter a number: "))
result = check_even_odd(num)
print("The number is:", result)

Enter a number: 6
The number is: Even

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
squares = [x ** 2 for x in range(1, 11)]
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print("original list:",numbers)
print("list of odd numbers:",)

original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list of odd numbers:

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words=["apple","banana","cat","dog","elephant","fish"]
long_words=[word for word in words if len(word) > 4]
print("original list:",words)
print("list of long words:",long_words)

original list: ['apple', 'banana', 'cat', 'dog', 'elephant', 'fish']
list of long words: ['apple', 'banana', 'elephant']

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
text="Hello,World!Python is Awesome!"
uppercase_letters=[char for char in text if char.isupper()]
print("original string:",text)
print("list of uppercase letters:",uppercase_letters)

original string: Hello,World!Python is Awesome!
list of uppercase letters: ['H', 'W', 'P', 'A']

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def fibonacci(n):
  fib_sequence=[0,1]
  [fib_sequence.append(fib_sequence[-1]+fib_sequence[-2])]
  return fib_sequence[:n]
n=int(input("enter the number of fibonacci numbers to generate:"))
fibonacci_numbers=fibonacci(n)
print("first",n,"fibonacci numbers:")
print(fibonacci_numbers)

enter the number of fibonacci numbers to generate:10
first 10 fibonacci numbers:
[0, 1, 1]

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
squares = {x: x ** 2 for x in range(1, 11)}
print("Dictionary of squares:", squares)

Dictionary of squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ["a", "b", "c"]
values = [1, 2, 3]
my_dict = {key: value for key, value in zip(keys, values)}
print("Created dictionary:", my_dict)

Created dictionary: {'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
cubes = {x: x ** 3 for x in range(1, 6)}
print("Dictionary of cubes:", cubes)

Dictionary of cubes: {1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
# Write a Python program to square each element of a list using the map() function.
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print("Original list:", numbers)
print("Squared list:", squared_numbers)

Original list: [1, 2, 3, 4, 5]
Squared list: [1, 4, 9, 16, 25]

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.
numbers=[1,2,3,4,5,6,7,8,9,10]
def is_even(number):
  return number % 2 == 0
even_numbers=list(filter(is_even,numbers))
print("original list:",numbers)
print("list of even numbers:",even_numbers)

original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list of even numbers: [2, 4, 6, 8, 10]

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
is_divisible_by_3_and_5=lambda num:num % 2 == 0 and num % 5 == 0
numbers=[15,30,45,60,75,90,10,20,25]
for num in numbers:
  if is_divisible_by_3_and_5(num):
    print(f"{num}is disivible by 3 and 5.")
  else:
    print(f"{num}is not divisible by 3 and 5.")

15is not divisible by 3 and 5.
30is disivible by 3 and 5.
45is not divisible by 3 and 5.
60is disivible by 3 and 5.
75is not divisible by 3 and 5.
90is disivible by 3 and 5.
10is disivible by 3 and 5.
20is disivible by 3 and 5.
25is not divisible by 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
numbers=[1,2,3,4,5]
doubled_numbers=list(map(lambda x:x*2,numbers))
print("original list:",numbers)
print("doubled list:",doubled_numbers)

original list: [1, 2, 3, 4, 5]
doubled list: [2, 4, 6, 8, 10]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
numbers = [num for num in numbers if num != element_to_remove]
print
("List after removing all occurrences of", element_to_remove, ":", numbers)

('List after removing all occurrences of', 2, ':', [1, 3, 4, 5])

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`